{% extends 'index.html' %}
{% block content %}
  <!-- Header-->
 <!-- Card categorias-->
  <main class="bg-light  py-5 d-flex justify-content-center align-items-center"
        id="categoria">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-dark">
        <h1 class="categoria  display-3 fw-bolder mb-5">Categorias</h1>
      </div>
      <!-- Card categorias-->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-5">
        <!-- Card Livros-->
        <div class="col">
          <div class="cat card h-100 text-center ">
            <i class="bi bi-book fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="links card-title " href="{% url 'category' 'Livros' %}">Livros</a>
              <p class="text  card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Tecnologia-->
        <div class="col">
          <div class="cat card h-100 text-center ">
            <i class="bi bi-laptop fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="links card-title "  href="{% url 'category' 'Tecnologia' %}"> Tecnologia</a>
              <p class="text card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Poster-->
        <div class="col">
          <div class="cat card h-100 text-center">
            <i class="bi bi-image fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="links card-title "  href="{% url 'category' 'Posters' %}">Posters</a>
              <p class="text card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Canecas-->
        <div class="col">
          <div class="cat card h-100 text-center ">
            <i class="bi bi-cup fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="links card-title "  href="{% url 'category' 'Xicaras' %}">Copo</a>
              <p class="text card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Roupas-->
        <div class="col">
          <div class="cat card h-100 text-center ">
            <i class="bi bi-controller fa-5x mt-3 text-white" style="font-size: 5em"></i>
            <div class="card-body text-white">
              <a class="links card-title " href="{% url 'category' 'Jogos' %}">Jogos</a>
              <p class="text card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Coleções -->
        <div class="col">
          <div class="cat card h-100 text-center ">
            <i class="bi bi-headset fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="links  card-title  "href="{% url 'category' 'Coleção' %}">Coleções</a>
              <p class="text card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}