<header>
    <div class="px-3 py-2 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                    class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark fw-semibold text-decoration-none">
                    NerdWear
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small align-items-center fs-5">
                    <li>
                        <a href="/" class="nav-link text-secondary">
                            <i class="bi bi-house"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/carrinho" class="nav-link text-secondary">
                            <i class="bi bi-bag"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/pedidos" class="nav-link text-secondary">
                            <i class="bi bi-box-seam"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>