{% extends 'index.html' %}
{% block content %}
  <!-- Header-->
  <header class="bg py-5 d-flex justify-content-center align-items-center"
          style="height: 700px">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center">
        <h1 class="display-3 fw-bolder">Tudo que você precisa</h1>
        <p class="lead fw-normal  mb-0">em um só lugar</p>
      </div>
    </div>
  </header>
  <!-- Card categorias-->
  <main class="bg-light py-5 d-flex justify-content-center align-items-center"
        id="categoria">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-dark">
        <h1 class="display-5 fw-bolder mb-5">Categorias</h1>
      </div>
      <!-- Card categorias-->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-5">
        <!-- Card Livros-->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-book fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3" href="{% url 'category' 'Livros' %}">Livros</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Tecnologia-->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-laptop fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3" href="{% url 'category' 'Tecnologia' %}">Tecnologia</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Poster-->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-image fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3" href="{% url 'category' 'Posters' %}">Posters</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Canecas-->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-cup fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3 href="{% url 'category' 'Copos' %}"">Copo</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Roupas-->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-controller fa-5x mt-3 text-white" style="font-size: 5em"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3" href="{% url 'category' 'Jogos' %}">Jogos</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
        <!-- Card Coleções -->
        <div class="col">
          <div class="card h-100 text-center bg-dark">
            <i class="bi bi-headset fa-5x mt-3 text-white" style="font-size: 5em;"></i>
            <div class="card-body text-white">
              <a class="card-title mt-3 "href="{% url 'category' 'Colecao' %}">Coleções</a>
              <p class="card-text">Explore nossa coleção de livros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Produtos-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <h1>Produtos</h1>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in products %}
          <div class="col mb-5">
            <div class="card h-100 bg-secondary text-light">
              <!-- Produto image-->
              <img class="card-img-top" src="{{ product.image.url }} " alt="imagem do produto" />
              <!-- Produto detalhes-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Produto nome-->
                  <h5 class="fw-bolder">{{ product.name }}</h5>
                  <!-- Product preço-->
                  R${{ product.price }}
                  <br />
                  <p>Categoria</p>
                  {{ product.category }}
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto mb-3"
                     href="{% url 'product' product.id %}">Detalhes</a>
                </div>
                <div class="d-flex">
                  <input class="form-control text-center me-3"
                         id="inputQuantity"
                         type="num"
                         value="1"
                         style="max-width: 3rem" />
                  <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    add sacola
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
