{% extends 'index.html' %}
{% block content %}
  <!-- Header-->
  <header class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="categoria display-4 fw-bolder">Cadastro</h1>
      </div>
    </div>
  </header>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Registro de Conta</div>
          <div class="card-body">
            <form method="post" action="."  autocomplete="off" >
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="bt btn btn-primary">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de Conta Criada -->
  {% if success_modal %}
    <div class="modal fade show"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Conta criada com sucesso</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="bt btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
