:root {
  --bgcolor: #01406d;
  --deco: #ff7a0f;
  --white: #f5fefe;
  --titulo: #01b4ba;
}

.bt {
  background-color: var(--deco);
  color: var(--white);
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.bt:hover,
.nm:hover {
  background-color: var(--titulo);
}

.menu {
  position: relative;
}

.menu:hover,
.menu.active {
  color: var(--deco) !important;
}

.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--titulo);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.menu:hover::before,
menu.active::before {
  width: 100%;
  visibility: visible;
}

.bg {
  background-color: var(--white) !important;
  color: var(--deco) !important;
}
